.header-left-context {
  @extend .three-row-box-singlerow;
  display: flex;
  //flex-direction: row;
}

.header-center-context {
  @extend .three-row-box-singlerow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 20px;
  p {
    margin-bottom: 0;
  }
}

.header-right-context {
  @extend .three-row-box-singlerow;

  ul {
    display: flex;
    flex-direction: row;

    li {
      list-style: none;
      margin-left: 20px;
    }
  }
  .header-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
  }
}