.search-input-container {
  margin-left: 10px;
  max-width: 400px;
  flex-grow: 1;

  .search-input {
    background: #3f4347;
    font-size: 16px;
    color: #d1d5da;
    border: 1px solid $Pantone;
    border-radius: 3px;
    padding-left: 8px;
    width: 100%;
  }

  .search-logo-container {
    height: 26px;
    width: 26px;
    margin-left: 40px;

    .search-logo-img {
      width: 100%;
      height: 100%;
    }
  }
}