.two-col-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    margin-bottom: 0;
  }
  .top-box {
    height: 20px;
    font-size: 16px;
  }
  .bottom-box {
    height: 14px;
    font-size: 12px;
  }
}