.centerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    margin-bottom: 0;
  }
  .topCenterBox {
    height: 20px;
    font-size: 16px;
  }
  .topBottomBox {
    height: 14px;
    font-size: 12px;
  }
}