.header-box {
  background: $Pantone;
  display: flex;
  height: 50px;
  padding: 12px 0;
  width: 100vw;
  
}

.header-box-item {
  flex: 1;
  color: white;
}

.header-left-context {
  @extend .header-box-item;
  display: flex;
  //flex-direction: row;

  .header-search-box {
    margin-left: 10px;
    max-width: 400px;
    flex-grow: 1;

    .header-search-input {
      background: #3f4347;
      font-size: 16px;
      color: #d1d5da;
      border: 1px solid $Pantone;
      border-radius: 3px;
      padding-left: 8px;
      width: 100%;
    }
  }

  .header-search-logo {
    height: 26px;
    width: 26px;
    margin-left: 40px;

    .header-logo-img {
      width: 100%;
      height: 100%;
    }
  }
}

.header-center-context {
  @extend .header-box-item;
}

.header-right-context {
  @extend .header-box-item;

  ul {
    display: flex;
    flex-direction: row;

    li {
      list-style: none;
      margin-left: 20px;
    }
  }
  .header-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
  }
}