.homepage-box {
  position: absolute;
  height: calc(100% - 50px);
  width: 100%;
  background: #323232;
}

.homepage-context-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-photo-box {
  text-align: center;
}

.homepage-text-box {
  color: white;
  text-align: center;

  .homepage-text-name {
    //text-align: center;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}